body {
  background: #f8f1f1 !important;
  background-color: none !important;
}
._forgot_container {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 160px;
}
._forgot_title {
  font-size: 30px;
  font-weight: 600;
  line-height: 40px;
  font-family: "Open Sans";
}
._forgotInputnew_container {
  margin: 20px 200px;
}
._forgotInputnew {
  border-radius: 10px !important;
  width: 631px;
  height: 48px;
  background-color: white;
}
._forgotInputnewres {
  width: 631px;
  height: 48px;
  background-color: white;
  border-radius: 10px !important;
}
._forgotbuttonnew_container {
  margin: 27px auto;
  background-color: white;
  width: 500px;
  border-radius: 10px;
}
._forgotbuttonnew {
  border-radius: 10px !important;
  width: 100%;
  height: 48px !important;
  background-color: #779341 !important;
}
._title_button {
  font-size: 20px;
  font-weight: 400;
  font-family: "Open Sans";
  line-height: 45px;
  color: rgb(255, 255, 255);
}
._forgot_title_name {
  text-align: left;
  margin-top: 36px;
  color: black;
  font-size: 16px;
  font-weight: 400;
}
._forgot_button_back {
  margin: 0px 0px 0px 0px;
  width: 54px !important;
  height: 54px !important;
  background-color: #779341 !important;
  border-radius: 10px !important;
}
._title_back{
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
  margin-top: 10px;
  text-align: center;
}
._forgotbuttonback_container {
  margin: 27px;
  background-color: white;
  width: 54px;
  border-radius: 10px;
}
._forgot_button_otp{
  position: absolute;
  top: -40px;
  right: -45%;
  width: 66px;
  height: 44px;
  background-color: #779341 !important;
  border-radius: 10px !important;
}
._title_otp{
  color: #f8f1f1;
  font-size: 16px;
  font-weight: 400;
}
